:root{
    --red: red;
    --feb: #feb524;
    --ee: #ee572f;
}

body{
  background-color: var(--feb);
}

html {
  scroll-behavior: smooth;
}

.text{
    font-size: 1.5rem;
}

/* Container with input and search button */
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aliceblue; */
  }

  /* 'Events by location' header */
  .events{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
  }
  
  input{
    box-shadow: 3px 3px;
    margin-bottom: 10px;
    padding: 6px;
    outline: none !important; 
  }

  .button-search{
    width: 100px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 3px;
    outline: none !important; 
}

.button-search:hover{
    background-color: var(--ee);
}

img{
  float: left;
}

#searchHistory{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}

#history{
display: flex;
flex-direction: row;
flex-wrap: wrap;
  justify-content: space-around;
  height: 25px;
}
#history p{
  padding-right: 5px;
  padding-left: 5px;
  border-top: 1px solid var(--ee)
}

/* What's on - header */
.container-header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* horizontal lines */
.hr-lines{
content: " ";
height: 0.5rem;
width: 100%;
border-top: 1px solid var(--red);
border-bottom: 1px solid var(--red);
padding: 0;
position: relative;
top: 43px;
}

.newDiv{
  display: flex;
}

.header{
  display: flex;
  justify-content: center;
  position: relative;
  left: 135px;
  padding: 0;
  margin: 0;
  font-size: 3rem;
  z-index: 1;
  width: 230px;
    height: 80px;
    background-color:  var(--feb);
}

/* container with all cards/events */
#root{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin-left: 150px;
    margin-right: 150px;
  }

/* cards with different events */
.card{
    margin-bottom: 30px;
    transition: all 0.3s;
    box-shadow: 2.5px 3px #7e3838
    
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 7px 7px #7e3838;
}

/* Event name */
.name{
    display: flex;
    justify-content: center;
    color: var(--ee);
}

/*  Giovanni style */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: #fe5555;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #f6dd64;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
  }
  
  .container{
      display: flex;
  }
  nav{
      display: flex;
      padding: 40px;
      width: 100%;
      align-items: center;
      float: right;
      font-size: 30px;
  }

  @media (max-width: 1049px){
    nav{
      font-size: 1.5rem;
  }
  }

  @media (max-width: 904px){
    nav{
      font-size: 1.3rem;
  }
  }
  
@media (max-width: 600px){
  nav{
    font-size: 1.1rem;
}
ul{
  flex-direction: column;
}
}

  nav:after {
      content: "";
      display: block;
      clear: both;
  }

  ul{
  display: flex;
}

  ul li{
      justify-content: space-between;
      list-style: none;
     padding: 5px;
  }

 
  footer ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    list-style: none;
  }

  @media (min-width: 500px) {
    footer ul {
      grid-auto-flow: column;
    }
  }

  footer a {
    color: white;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #f6dd64;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
  }

  footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
  }

  footer li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  footer li:hover~li p {
    animation: wave-animation 0.3s infinite;
  }

  footer div {
    display: flex;
    padding: 30px;
    width: 100%;
    background-color: #df5758;
    line-height: 1.3;
  }

  @keyframes wave-animation {

    0%,
    100% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(20deg);
    }

    75% {
      transform: rotate(-15deg);
    }
  }

  /* weather section*/
  .input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 5px;
}
.inputValue{
    width: 200px;
    border-color: 1px solid black;
}

.button2{
    background-color: var(--ee);
    width: 110px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    outline: none !important;
    cursor: pointer;

}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
 
 color: black;
 width: 20%;
 font-size: 1.5rem;
    
}

@media(max-width: 835px){
.container3{
  flex-direction: row;
}
.desc, .temp{
  font-size: 1rem;
  padding: 5px;
}
}

/* News API */
.images2{
width: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.title2{
  font-size: 1.1rem;
}

/* Arrow takes user to the top of the page */
.arrow{
  position: fixed;
  width: 50px;
  height: 30px;
  rotate: -90deg;
  mix-blend-mode: multiply;
  bottom: 30px;
  right: 10px;
}

#newsContent{
  position: relative;
  top: 30px; 
  margin-bottom: 50px;
}